.l-blog {
  @include breakPoint("pc") {
    padding: $paddingPc;
  }

  @include breakPoint("sp") {
    padding: $paddingSp;
  }

  @include breakPoint("small-screen") {
    padding: $paddingSmallScreen;
  }
}
