.l-work {
  background-color: #ececec;

  @include breakPoint("pc") {
    padding: $paddingPc;
  }

  @include breakPoint("sp") {
    padding: $paddingSp;
  }

  @include breakPoint("small-screen") {
    padding: $paddingSmallScreen;
  }
}