
@include breakPoint("pc") {
  .p-header {
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: relative;
  }

  .p-header__logo {
    width: 50px;
    height: auto;
  }

  .p-header,
  .p-header__nav-list {
    display: flex;
  }

  .p-header__nav-list {
    column-gap: 30px;
  }

  .p-header__nav-item {
    list-style: none;
    color: $whiteColor;
  }
}

@include breakPoint("sp") {
  .p-header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2c5eb7;

    &.is-active {
      display: block; // is-activeクラスがある時に表示
    }
  }
  .p-header__nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .p-header__nav-item {
    margin: 0 0 20px;
  }

  .p-header__hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .p-header__hamburger-line {
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: $whiteColor;

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2) {
      top: 20px;
    }
  }

  .cross:nth-child(1) {
    transform: rotate(45deg);
    top: 15px; /* 中心に配置 */
  }

  .cross:nth-child(2) {
    opacity: 0;
  }

  .cross:nth-child(3) {
    transform: rotate(-45deg);
    top: 15px; /* 中心に配置 */
  }
}
